.repoSearchInput {
  max-width: 912px;
  padding: 9px 16px !important;
  border-radius: 4px;
  background: rgba(242, 242, 242, 1);

  input {
    // Размер инпута для поиска
    padding: .5px 0 .5px 0;
  }

  ::placeholder {
    font-style: italic;
  }
}